<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>{{ title }}</span> <span class="example-spacer"></span>
    <mat-icon class="example-icon">verified_user</mat-icon>
    <mat-icon class="example-icon">settings</mat-icon>
    <mat-icon class="example-icon">account_circle</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>

<div class="flex-container">
  <div class="flex-item all-disaster-container">
    <h5>All Disasters</h5>
    <mat-card *ngFor="let d of disasters">
      <mat-card-header>
        <img matCardAvatar
             src="../assets/{{d.image}}">
        <mat-card-title>
          <span class="text-uppercase {{d.strength}}">{{d.strength}}: </span>
          <span class="{{d.type}}">{{d.title}}</span>
        </mat-card-title>
        <mat-card-subtitle>{{d.subtitle}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        {{d.content}}
      </mat-card-content>
    </mat-card>
  </div>
  <div class="flex-item-map">
    <agm-map [latitude]="lat" [longitude]="lng">
      <agm-marker
        *ngFor="let m of markers; let i = index"
        [latitude]="m.lat"
        [longitude]="m.lng"
        [label]="m.label"
      >
        <agm-info-window>
          <mat-card>
            <mat-card-header>
              <img matCardAvatar
                   src="../assets/dell.png">
              <mat-card-title>
                {{m.companyName}}
              </mat-card-title>
              <mat-card-subtitle>{{m.subtitle}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="marker-tooltip">
              <div>lat: {{m.lat}}</div>
              <div>lng: {{m.lng}}</div>
            </mat-card-content>
          </mat-card>
        </agm-info-window>
      </agm-marker>

      <agm-circle
        *ngFor="let d of disasters; let i = index"
        [latitude]="d.lat"
        [longitude]="d.lng"
        [radius]="25000"
        [fillColor]="d.disasterColor"
      >
      </agm-circle>
    </agm-map>
  </div>
  <div class="flex-item">
    <h5>Automatic Backups</h5>
    <div>
      <mat-card *ngFor="let fm of filteredMarkers">
        <mat-card-header>
          <img matCardAvatar
               src="../assets/{{fm.image}}">
          <mat-card-title><span class="text-uppercase"></span>{{fm.title}}</mat-card-title>
          <mat-card-subtitle>{{fm.subtitle}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          {{fm.content}}
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
