<app-adb-header [title]="title"></app-adb-header>

<div class="flex-container">
  <div class="flex-item all-disaster-container">
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">thumb_up</mat-icon>
          Sites
        </ng-template>
        <app-adb-site-card
          *ngFor="let site of sites"
          [site]="site"
        ></app-adb-site-card>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">language</mat-icon>
          Disasters
        </ng-template>
        <div>
          <div *ngIf="!disasters || !disasters.length">
            <h5>Currently there is No Disasters 😃</h5>
          </div>
          <div *ngIf="disasters && disasters.length">
            <app-adb-disaster-card
              *ngFor="let d of disasters"
              [disaster]="d"
            ></app-adb-disaster-card>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="flex-item-map">
    <agm-map
      [latitude]="lat"
      [longitude]="lng"
      [streetViewControl]="true"
      [panControl]="true"
    >
      <agm-marker
        *ngFor="let site of sites; let i = index"
        [latitude]="site.lat"
        [longitude]="site.lng"
        [label]="site.label"
      >
        <agm-info-window>
          <app-adb-agm-info-window [site]="site"></app-adb-agm-info-window>
        </agm-info-window>
      </agm-marker>

      <agm-circle
        *ngFor="let d of disasters; let i = index"
        [latitude]="d.lat"
        [longitude]="d.lng"
        [radius]="25000"
        [fillColor]="d.disasterColor"
      >
      </agm-circle>
    </agm-map>
  </div>
  <div class="flex-item">
    <h5>Automatic Backups</h5>
    <div>
      <button
        mat-button
        mat-raised-button
        color="primary"
        (click)="onDiscover()"
      >
        <mat-icon>refresh</mat-icon>
        <span>Discover</span>
      </button>
    </div>
    <div>
      <app-adb-site-card
        *ngFor="let filterSite of filteredSites"
        [site]="filterSite"
      ></app-adb-site-card>
    </div>
  </div>
</div>
