agm-map {
  height: calc(100vh - 150px);
}

.all-disaster-container {
  height: calc(100vh - 100px);
  overflow-y: scroll;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  background-color: DodgerBlue;
}

.flex-item-map {
  width: 100%;
  margin: 10px;
  text-align: center;
  font-size: 30px;
}

.flex-item {
  background-color: #f1f1f1;
  width: 30%;
  margin: 10px;
  text-align: center;
  font-size: 30px;
}

.site-tooltip {
  font-weight: bolder;
  font-size: 16px;
}

.discover-container{
  display: flex;
  justify-content: center;
}
.discover-btn{
  margin-left: 15px;
}