mat-card {
  margin: 15px 10px;
}
.critical {
  color: red;
}
.very-high {
  color: orangered;
}
.high {
  color: #ff4c29;
}
.medium {
  color: orange;
}
.low {
  color: #ff70ea;
}
.very-low {
  color: black;
}

.earthquake {
  color: brown;
}

.typhoon {
  color: #3d8aff;
}

.tsunami {
  color: blue;
}